@charset "UTF-8";
/* General mixins */
@font-face {
  font-family: "iconic";
  src: url("../fonts/iconic.eot");
  src: url("../fonts/iconic.eot?#iefix") format("eot"), url("../fonts/iconic.woff") format("woff"), url("../fonts/iconic.ttf") format("truetype"), url("../fonts/iconic.svg#iconic") format("svg"); }
.iconic {
  font-family: "iconic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }

.iconic--smile-boy:after {
  content: ""; }

.iconic--tag:after {
  content: ""; }

.iconic--tick2:after {
  content: ""; }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl_100.eot");
  src: url("../fonts/MuseoSansCyrl_100.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl_100.woff") format("woff"), url("../fonts/MuseoSansCyrl_100.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_100.svg#MuseoSansCyrl_100") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl_300.eot");
  src: url("../fonts/MuseoSansCyrl_300.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl_300.woff") format("woff"), url("../fonts/MuseoSansCyrl_300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_300.svg#MuseoSansCyrl_300") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl_500.eot");
  src: url("../fonts/MuseoSansCyrl_500.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl_500.woff") format("woff"), url("../fonts/MuseoSansCyrl_500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_500.svg#MuseoSansCyrl_500") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl_700.eot");
  src: url("../fonts/MuseoSansCyrl_700.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl_700.woff") format("woff"), url("../fonts/MuseoSansCyrl_700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_700.svg#MuseoSansCyrl_700") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl_900.eot");
  src: url("../fonts/MuseoSansCyrl_900.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl_900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl_900.woff") format("woff"), url("../fonts/MuseoSansCyrl_900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_900.svg#MuseoSansCyrl_900") format("svg");
  font-weight: 900;
  font-style: normal; }
/* This stylesheet generated by Transfonter (https://transfonter.org) on June 1, 2017 4:11 PM */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans/OpenSans.eot");
  src: url("../fonts/opensans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/OpenSans.woff2") format("woff2"), url("../fonts/opensans/OpenSans.woff") format("woff"), url("../fonts/opensans/OpenSans.ttf") format("truetype"), url("../fonts/opensans/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans/OpenSans-Light.eot");
  src: url("../fonts/opensans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/OpenSans-Light.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Light.woff") format("woff"), url("../fonts/opensans/OpenSans-Light.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans/OpenSans-Bold.eot");
  src: url("../fonts/opensans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Bold.woff") format("woff"), url("../fonts/opensans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
*,
*:after,
*:before {
  box-sizing: border-box; }

HTML,
BODY {
  height: 100%;
  min-width: 320px; }

BODY {
  font-family: "Open Sans", sans-serif; }

INPUT,
TEXTAREA,
BUTTON {
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0; }
  INPUT:focus,
  TEXTAREA:focus,
  BUTTON:focus {
    outline: none; }

TEXTAREA {
  resize: vertical; }

UL, OL {
  margin: 0;
  padding: 0;
  list-style: none; }

P {
  margin: 0; }

IMG {
  max-width: 100%; }

::-moz-selection {
  background: red;
  color: #fff;
  text-shadow: none; }

::selection {
  background: red;
  color: #fff;
  text-shadow: none; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar {
  width: 4px; }

::-webkit-scrollbar-thumb {
  background-color: #a6162d;
  cursor: pointer; }

.page {
  position: relative;
  z-index: 1; }

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  min-width: 320px;
  padding: 0 30px; }
  .wrapper--12 {
    max-width: 1260px; }
  .wrapper--109 {
    max-width: 1150px; }
  .wrapper--97 {
    max-width: 1030px; }
  .wrapper--10 {
    max-width: 1060px; }
  .wrapper--108 {
    max-width: 1140px; }
  @media screen and (max-width: 960px) {
    .wrapper {
      padding-left: 25px;
      padding-right: 25px; } }
  @media screen and (max-width: 640px) {
    .wrapper {
      padding-right: 15px;
      padding-left: 15px; } }

.wrapper-inner {
  display: block;
  width: auto;
  margin-left: -30px;
  margin-right: -30px; }
  @media screen and (max-width: 640px) {
    .wrapper-inner {
      margin-left: -25px;
      margin-right: -25px; } }
  @media screen and (max-width: 640px) {
    .wrapper-inner {
      margin-left: -15px;
      margin-right: -15px; } }

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .cols--right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .cols--around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .cols--between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .cols--gap-xs {
    margin-left: -5px;
    margin-right: -5px; }
    .cols--gap-xs .col {
      padding-left: 5px;
      padding-right: 5px; }
  .cols--sm {
    margin-left: -10px;
    margin-right: -10px; }
    .cols--sm .col {
      padding-left: 10px;
      padding-right: 10px; }
  .cols--gap-md {
    margin-left: -15px;
    margin-right: -15px; }
    .cols--gap-md .col {
      padding-left: 15px;
      padding-right: 15px; }
  .cols--gap-lg {
    margin-left: -25px;
    margin-right: -25px; }
    .cols--gap-lg .col {
      padding-left: 25px;
      padding-right: 25px; }
  .cols--v-gap-xs .col {
    margin-bottom: 5px; }
  .cols--v-gap-sm .col {
    margin-bottom: 10px; }
  .cols--v-gap-md .col {
    margin-bottom: 15px; }
  .cols--v-gap-lg .col {
    margin-bottom: 25px; }

.col {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  .col > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%; }
  .col--grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .col--10 {
    width: 10%; }
  .col--20 {
    width: 20%; }
  .col--25 {
    width: 25%; }
  .col--30 {
    width: 30%; }
  .col--33 {
    width: 33.33333%; }
  .col--40 {
    width: 40%; }
  .col--50 {
    width: 50%; }
  .col--60 {
    width: 60%; }
  .col--66 {
    width: 66.66667%; }
  .col--70 {
    width: 70%; }
  .col--75 {
    width: 75%; }
  .col--80 {
    width: 80%; }
  .col--90 {
    width: 90%; }
  @media screen and (max-width: 1280px) {
    .col--lg-10 {
      width: 10%; }
    .col--lg-20 {
      width: 20%; }
    .col--lg-25 {
      width: 25%; }
    .col--lg-30 {
      width: 30%; }
    .col--lg-33 {
      width: 33.33333%; }
    .col--lg-40 {
      width: 40%; }
    .col--lg-50 {
      width: 50%; }
    .col--lg-60 {
      width: 60%; }
    .col--lg-66 {
      width: 66.66667%; }
    .col--lg-70 {
      width: 70%; }
    .col--lg-75 {
      width: 75%; }
    .col--lg-80 {
      width: 80%; }
    .col--lg-90 {
      width: 90%; } }
  @media screen and (max-width: 1060px) {
    .col--md-10 {
      width: 10%; }
    .col--md-20 {
      width: 20%; }
    .col--md-25 {
      width: 25%; }
    .col--md-30 {
      width: 30%; }
    .col--md-33 {
      width: 33.33333%; }
    .col--md-40 {
      width: 40%; }
    .col--md-50 {
      width: 50%; }
    .col--md-60 {
      width: 60%; }
    .col--md-66 {
      width: 66.66667%; }
    .col--md-70 {
      width: 70%; }
    .col--md-75 {
      width: 75%; }
    .col--md-80 {
      width: 80%; }
    .col--md-90 {
      width: 90%; } }
  @media screen and (max-width: 760px) {
    .col--sm-10 {
      width: 10%; }
    .col--sm-20 {
      width: 20%; }
    .col--sm-25 {
      width: 25%; }
    .col--sm-30 {
      width: 30%; }
    .col--sm-33 {
      width: 33.33333%; }
    .col--sm-40 {
      width: 40%; }
    .col--sm-50 {
      width: 50%; }
    .col--sm-60 {
      width: 60%; }
    .col--sm-66 {
      width: 66.66667%; }
    .col--sm-70 {
      width: 70%; }
    .col--sm-75 {
      width: 75%; }
    .col--sm-80 {
      width: 80%; }
    .col--sm-90 {
      width: 90%; } }
  @media screen and (max-width: 540px) {
    .col--xs-10 {
      width: 10%; }
    .col--xs-20 {
      width: 20%; }
    .col--xs-25 {
      width: 25%; }
    .col--xs-30 {
      width: 30%; }
    .col--xs-33 {
      width: 33.33333%; }
    .col--xs-40 {
      width: 40%; }
    .col--xs-50 {
      width: 50%; }
    .col--xs-60 {
      width: 60%; }
    .col--xs-66 {
      width: 66.66667%; }
    .col--xs-70 {
      width: 70%; }
    .col--xs-75 {
      width: 75%; }
    .col--xs-80 {
      width: 80%; }
    .col--xs-90 {
      width: 90%; } }
  @media screen and (max-width: 400px) {
    .col--xxs-10 {
      width: 10%; }
    .col--xxs-20 {
      width: 20%; }
    .col--xxs-25 {
      width: 25%; }
    .col--xxs-30 {
      width: 30%; }
    .col--xxs-33 {
      width: 33.33333%; }
    .col--xxs-40 {
      width: 40%; }
    .col--xxs-50 {
      width: 50%; }
    .col--xxs-60 {
      width: 60%; }
    .col--xxs-66 {
      width: 66.66667%; }
    .col--xxs-70 {
      width: 70%; }
    .col--xxs-75 {
      width: 75%; }
    .col--xxs-80 {
      width: 80%; }
    .col--xxs-90 {
      width: 90%; } }

.header {
  height: 109px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2); }
  .header .wrapper {
    max-width: 1545px;
    margin: 0 auto; }
  .header__logo {
    width: 185px;
    float: left;
    margin-top: 29px; }
  .header__menu {
    float: right; }
  .header__m-menu {
    display: none;
    width: 95px;
    float: right; }
  .header__m-menulist {
    position: absolute;
    width: 100%;
    background: #a6162d;
    top: 100%;
    left: 0;
    display: none; }
    .header__m-menulist._active {
      display: block; }
    .header__m-menulist li {
      display: block;
      text-align: center; }
    .header__m-menulist a {
      display: block;
      padding: 22px 0;
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 100;
      text-decoration: none;
      transition: all 0.4s; }
      .header__m-menulist a:hover {
        background: #840f22; }
  .header__btn {
    background: #a6162d; }
    .header__btn .burger-link {
      width: 50px;
      margin: 0 auto; }
  @media screen and (max-width: 1060px) {
    .header {
      height: 85px; }
      .header .wrapper {
        padding: 0 0 0 30px; }
      .header__logo {
        width: 170px;
        margin-top: 16px; }
      .header__menu {
        display: none; }
      .header__m-menu {
        display: block; }
      .header__btn .burger-link {
        padding: 26px 0; } }

.menu {
  overflow: hidden;
  height: 109px; }
  .menu li {
    display: block;
    float: left; }
    .menu li a {
      display: block;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      padding: 46px 25px;
      letter-spacing: 0.2px;
      position: relative;
      color: #000; }
      .menu li a:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 5px;
        background: transparent;
        transition: all 0.4s; }
      .menu li a:hover:after {
        background: #a6162d; }
      .menu li a._active {
        color: #a6162d; }
        .menu li a._active:after {
          background: #a6162d; }
  .menu--bg-gray {
    background: #f2f2f2; }

.burger-link {
  cursor: pointer;
  padding: 1px 0;
  background: #a6162d; }
  .burger-link div {
    width: 50px;
    height: 3px;
    background: #fff;
    margin: 15px 0;
    position: relative;
    transition: all 0.4s; }
    .burger-link div:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      top: -16px;
      background: #fff;
      transition: all 0.4s; }
    .burger-link div:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      top: 16px;
      background: #fff;
      transition: all 0.4s; }
  .burger-link._active div {
    background: transparent; }
    .burger-link._active div:after {
      top: 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .burger-link._active div:before {
      top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.footer {
  position: relative; }
  .footer__soc-item {
    width: 50%;
    float: left;
    padding: 31px 0 32px;
    position: relative;
    text-align: center; }
    .footer__soc-item a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      .footer__soc-item a .icon {
        top: 13px; }
    .footer__soc-item--tw {
      background: #55acee; }
    .footer__soc-item--f {
      background: #3b5998; }
  .footer__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99;
    top: -100px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); }
  .footer__excerpt {
    width: 30%;
    float: left; }
    .footer__excerpt p {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 100;
      padding: 42px 0 42px 11px;
      letter-spacing: 1.5px; }
  .footer__menu {
    width: 70%;
    float: right;
    overflow: hidden;
    text-align: right; }
  @media screen and (max-width: 1060px) {
    .footer__excerpt {
      float: none;
      width: 100%;
      text-align: center; }
      .footer__excerpt p {
        padding: 20px 0; }
    .footer__menu {
      display: none; }
    .footer__top {
      height: 55px;
      top: -55px; } }

.footer-menu {
  overflow: hidden; }
  .footer-menu li {
    display: inline-block; }
    .footer-menu li a {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 100;
      padding: 42px 22px;
      text-decoration: none;
      color: #fff; }

.icon {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  font-style: normal; }
  .icon- {
    width: 18px;
    height: 22px;
    margin: 0; }
  .icon--line {
    width: 31px;
    height: 56px;
    background: url(../images/t-line.png) no-repeat 0 0; }
  .icon--line-crimson {
    width: 31px;
    height: 56px;
    background: url(../images/t-line-red.png) no-repeat 0 0; }
  .icon--arr-b {
    width: 19px;
    height: 11px;
    background: url(../images/arr-b.png) no-repeat 0 0; }
  .icon--tw {
    width: 40px;
    height: 32px;
    background: url(../images/twitter.png) no-repeat 0 0; }
  .icon--facebook {
    width: 25px;
    height: 36px;
    background: url(../images/facebook.png) no-repeat 0 0; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.25s;
  font-size: inherit;
  padding: 0;
  /* sizes */
  /* colors */ }
  .btn > SPAN {
    border-bottom: 1px solid transparent;
    padding: 0 0 2px 0;
    transition: border-color 0.25s; }
  .btn:hover > SPAN {
    border-color: transparent; }
  .btn--primary {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #a6162d;
    padding: 24px 38px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border-radius: 3px; }

.link {
  color: inherit;
  text-decoration: none;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition: 0.25s;
  cursor: pointer;
  /* colors */
  /* other */ }
  .link:hover {
    border-bottom-color: transparent; }
  .link--primary {
    border-bottom-color: #fff; }
    .link--primary:hover {
      border-bottom-color: transparent; }
  .link--dotted {
    border-bottom-style: dotted; }

.title--main {
  color: #fff;
  font-size: 48px;
  font-weight: 100;
  position: relative;
  margin: 0;
  line-height: 38px; }
  .title--main .icon {
    position: absolute;
    left: -50px;
    top: -9px; }
  @media screen and (max-width: 540px) {
    .title--main {
      font-size: 40px; }
      .title--main .icon {
        display: none; } }

.p {
  font-size: 20px;
  font-weight: 100;
  line-height: 31px; }

.sub {
  font-weight: 100;
  font-size: 32px;
  color: #8d8d8d; }
  @media screen and (max-width: 540px) {
    .sub {
      font-size: 30px; } }

.input {
  border-radius: 7px;
  overflow: hidden;
  position: relative; }
  .input input {
    border-radius: 7px;
    width: 100%;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 100;
    color: #000;
    background: #fff; }
    .input input::-webkit-input-placeholder {
      color: #8d8d8d;
      font-size: 20px;
      font-weight: 100; }
    .input input:-ms-input-placeholder {
      color: #8d8d8d;
      font-size: 20px;
      font-weight: 100; }
    .input input::placeholder {
      color: #8d8d8d;
      font-size: 20px;
      font-weight: 100; }
  .input.error input {
    color: #a6162d;
    box-shadow: inset 0 0 0 2px #a6162d; }
  .input.error:after {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 21px;
    background: url(../images/error.png) no-repeat 0 0;
    right: 23px;
    top: 50%;
    margin-top: -10px; }
  .input.success input {
    color: #16a63b;
    box-shadow: inset 0 0 0 2px #16a63b; }

.textarea {
  border-radius: 7px;
  overflow: hidden;
  position: relative; }
  .textarea textarea {
    border-radius: 7px;
    width: 100%;
    padding: 24px 25px;
    font-size: 20px;
    font-weight: 100;
    color: #000;
    background: #fff; }
    .textarea textarea::-webkit-input-placeholder {
      color: #8d8d8d;
      font-size: 20px;
      font-weight: 100; }
    .textarea textarea:-ms-input-placeholder {
      color: #8d8d8d;
      font-size: 20px;
      font-weight: 100; }
    .textarea textarea::placeholder {
      color: #8d8d8d;
      font-size: 20px;
      font-weight: 100; }
  .textarea.error textarea {
    color: #a6162d;
    box-shadow: inset 0 0 0 2px #a6162d; }
  .textarea.error:after {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 21px;
    background: url(../images/error.png) no-repeat 0 0;
    right: 23px;
    top: 50%;
    margin-top: -10px; }
  .textarea.success textarea {
    color: #16a63b;
    box-shadow: inset 0 0 0 2px #16a63b; }

.form__row {
  margin: 0 0 33px; }
.form__col {
  width: 470px; }
  .form__col:first-child {
    float: left; }
  .form__col:last-child {
    float: right; }
@media screen and (max-width: 1014px) {
  .form__col {
    width: 100%;
    margin-bottom: 15px; }
    .form__col:first-child, .form__col:last-child {
      float: none; }
  .form__row {
    margin: 0 0 0; } }

.js-accordion__content-wr {
  overflow: hidden;
  transition: all 0.4s; }

.accordion {
  overflow: hidden; }
  .accordion__title {
    position: relative; }
    .accordion__title p {
      font-weight: 100;
      font-size: 24px;
      color: #a6162d;
      text-align: left;
      padding: 15px 60px 15px 23px;
      transition: all 0.4s;
      cursor: pointer;
      border-radius: 5px; }
      .accordion__title p:hover {
        background: #f5f5f5; }
    .accordion__title .icon {
      position: absolute;
      right: 35px;
      top: 50%;
      margin-top: -5px;
      transition: all 0.4s; }
  .accordion__content {
    padding: 25px 29px 31px;
    font-size: 20px;
    color: #222222;
    font-weight: normal;
    border-bottom: 1px solid #a6162d;
    line-height: 34px;
    transition: all 0.4s; }
  .accordion__item._open {
    margin-bottom: 29px; }
    .accordion__item._open .accordion__title:hover {
      background: transparent; }
    .accordion__item._open .accordion__title .icon {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

.js-animate {
  visibility: hidden; }
  .js-animate--do {
    visibility: visible; }
  .js-animate-scroll {
    visibility: hidden; }
    .js-animate-scroll--do {
      visibility: visible; }

.screen1 {
  height: 884px;
  background: url(../images/ofice.jpg) no-repeat center top;
  overflow: hidden;
  background-size: cover; }
  .screen1__title {
    margin: 394px 0 0;
    text-align: center; }
    .screen1__title h1 {
      color: #fff;
      font-weight: 100;
      font-size: 36px; }
  .screen1__btn {
    margin: 62px 0;
    text-align: center; }
  @media screen and (max-width: 1060px) {
    .screen1 {
      height: 655px; }
      .screen1__title {
        margin: 293px 0 0 0; }
        .screen1__title h1 {
          font-size: 32px; }
      .screen1__btn .btn {
        font-size: 14px; } }
  @media screen and (max-width: 600px) {
    .screen1 {
      height: 530px; }
      .screen1__title {
        margin: 229px 0 0 0; } }
  @media screen and (max-width: 480px) {
    .screen1__title {
      margin: 203px 0 0 0;
      padding: 0 15px; } }
  @media screen and (max-width: 540px) {
    .screen1__btn {
      margin: 40px 0; }
      .screen1__btn .btn {
        font-size: 11px; } }

.about {
  background: url(../images/waves.jpg) no-repeat center top; }
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 165px; }
  .about__txt {
    width: 486px; }
    .about__txt p {
      margin-top: 75px;
      letter-spacing: 0.4px;
      line-height: 35px;
      margin-left: 4px;
      color: #fff; }
  .about__img {
    width: 486px; }
    .about__img img {
      vertical-align: middle;
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
      position: relative;
      right: -9px; }
  @media screen and (max-width: 1060px) {
    .about__img {
      display: none; }
    .about .wrapper {
      margin: 85px 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (max-width: 600px) {
    .about .wrapper {
      margin: 69px 0; }
    .about__txt {
      margin-top: 42px; } }
  @media screen and (max-width: 540px) {
    .about .wrapper {
      margin: 60px 0; }
    .about__txt {
      margin: 0; }
      .about__txt .p {
        margin-top: 25px; } }

.investments {
  padding: 0 0 112px;
  border-bottom: 1px solid #dfdfdf; }
  .investments .title--main {
    color: #222222;
    margin: 36px 0 140px; }
  .investments__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .investments__item {
    text-align: left;
    display: inline-block; }
    .investments__item .location {
      margin: 50px 0 10px;
      font-size: 18px;
      color: #222222; }
    .investments__item .desc {
      font-size: 16px;
      color: #6b6b6b; }
  @media screen and (max-width: 1280px) {
    .investments .wrapper {
      text-align: center; }
    .investments .title--main {
      display: inline-block; } }
  @media screen and (max-width: 1060px) {
    .investments {
      padding: 0 0 60px; }
      .investments .title--main {
        margin: 60px 0 90px; }
      .investments__items {
        display: block; }
      .investments__item {
        display: inline-block;
        width: 200px;
        margin: 20px;
        text-align: center; }
        .investments__item .location {
          margin: 19px 0 10px; } }
  @media screen and (max-width: 540px) {
    .investments .title--main {
      margin: 60px 0 53px; } }

.prioritets {
  padding: 0 0 73px; }
  .prioritets .title--main {
    color: #222222;
    margin: 148px 0 69px; }
  .prioritets__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 94px 0 0; }
  .prioritets__item {
    text-align: left; }
    .prioritets__item p {
      font-size: 19px;
      margin: 28px 0 0 0;
      font-weight: 100;
      color: #6b6b6b;
      text-align: center; }
  @media screen and (max-width: 1280px) {
    .prioritets .wrapper {
      text-align: center; }
    .prioritets .title--main {
      display: inline-block; } }
  @media screen and (max-width: 1060px) {
    .prioritets {
      padding: 0 0 37px; }
      .prioritets .title--main {
        margin: 60px 0 32px; }
      .prioritets__items {
        margin: 80px 0 0 0;
        display: block; }
      .prioritets__item {
        display: inline-block;
        width: 200px;
        margin: 20px;
        text-align: center; } }
  @media screen and (max-width: 540px) {
    .prioritets .title--main {
      margin: 60px 0 21px; }
    .prioritets__items {
      margin: 43px 0 0 0; } }

.accordion__wr {
  padding-bottom: 115px; }
@media screen and (max-width: 1060px) {
  .accordion__wr {
    padding-bottom: 35px; } }

.feedback {
  background: url(../images/feedback.jpg) no-repeat center top;
  background-size: cover; }
  .feedback__title {
    margin: 120px 0 97px; }
    .feedback__title .title--main {
      margin: 0 0 73px; }
    .feedback__title .sub {
      font-size: 33px;
      color: #fff;
      font-weight: 100; }
  .feedback__form {
    margin: 0 0 150px; }
    .feedback__form .btn--primary {
      width: 100%;
      border-radius: 7px; }
  @media screen and (max-width: 1280px) {
    .feedback .wrapper {
      text-align: center; }
    .feedback .title--main {
      display: inline-block; } }
  @media screen and (max-width: 1060px) {
    .feedback .title--main {
      margin: 60px 0 32px; }
    .feedback__title {
      margin: 28px 0 120px; }
      .feedback__title .sub {
        font-size: 26px; }
    .feedback__form {
      margin: 0 0 100px; } }
  @media screen and (max-width: 1014px) {
    .feedback .btn--primary {
      margin-top: 14px; } }
  @media screen and (max-width: 600px) {
    .feedback .title--main {
      margin: 35px 0 38px; }
    .feedback__title {
      margin: 28px 0 70px; }
    .feedback__form {
      marign: 0 0 76px; } }

.cf:before, .header:before, .header .wrapper:before, .menu:before, .footer__socials:before, .footer__top:before, .form__row:before, .about:before, .investments:before, .prioritets:before, .feedback:before,
.cf:after,
.header:after,
.header .wrapper:after,
.menu:after,
.footer__socials:after,
.footer__top:after,
.form__row:after,
.about:after,
.investments:after,
.prioritets:after,
.feedback:after {
  content: " ";
  display: table; }

.cf:after, .header:after, .header .wrapper:after, .menu:after, .footer__socials:after, .footer__top:after, .form__row:after, .about:after, .investments:after, .prioritets:after, .feedback:after {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.h-inlb {
  display: inline-block;
  vertical-align: top; }
  .h-inlb-m {
    display: inline-block;
    vertical-align: middle; }
.h-bl {
  display: block; }
.h-tbl {
  display: table; }
.h-bg-white {
  color: #fff; }
.h-bg-black {
  color: #000; }

.h-mrg-b-5 {
  margin-bottom: 5px !important; }
.h-mrg-b-10 {
  margin-bottom: 10px !important; }
.h-mrg-b-20 {
  margin-bottom: 20px !important; }
.h-mrg-b-35 {
  margin-bottom: 35px !important; }
.h-mrg-b-115 {
  margin-bottom: 115px !important; }
.h-mrg-t-5 {
  margin-top: 5px !important; }
.h-mrg-t-10 {
  margin-top: 10px !important; }
.h-mrg-t-20 {
  margin-top: 20px !important; }
.h-mrg-t-35 {
  margin-top: 35px !important; }
.h-mrg-l-5 {
  margin-left: 5px !important; }
.h-mrg-l-10 {
  margin-left: 10px !important; }
.h-mrg-l-20 {
  margin-left: 20px !important; }
.h-mrg-l-35 {
  margin-left: 35px !important; }
.h-mrg-r-5 {
  margin-right: 5px !important; }
.h-mrg-r-10 {
  margin-right: 10px !important; }
.h-mrg-r-20 {
  margin-right: 20px !important; }
.h-mrg-r-35 {
  margin-right: 35px !important; }

.h-f-s0 {
  font-size: 0; }
.h-f-s20 {
  font-size: 20px; }
.h-f-s24 {
  font-size: 24px; }
.h-f-s16 {
  font-size: 16px; }
.h-f-s12 {
  font-size: 12px; }
.h-bold {
  font-weight: bold; }
.h-uppc {
  text-transform: uppercase; }
.h-itl {
  font-style: italic; }
.h-c-white {
  color: #fff; }
.h-c-black {
  color: #000; }

.p-l-32 {
  padding-left: 32px; }
.p-l-10 {
  padding-left: 10px; }
